body 
{
  /* Make the body take up the entire screen and center its content. */
  height: 100%;
  width:  100%;

  display: grid;
  justify-content: center;
  align-content: center;

  /*Prevents scrollbars from appearing.*/
  overflow: hidden;
  
  /* Makes the page background black.*/
  background-color: black;
}