body 
{
  /* Make the body take up the entire screen and center its content. */
  width:  100vw;
  height: 100vh;

  display: grid;
  justify-content: center;
  align-content: center;
  vertical-align: middle;


  /*Prevents scrollbars from appearing.*/
  overflow: hidden;
  
  /* Makes the text color white. */
  color: white;
  /* Makes the page background black.*/
  background-color: black;

  font-family: monospace;
  font-size: 2vw;
  font-weight: bolder;
}

.text
{
  /* Makes the paragraph elements easier to click on. */
  padding: 10px;

  /* Prevent the user from being able to highlight text. */
  user-select: none;
}

/* Dims the color of the text when hovering over it. */
.text:hover
{
  color: #c8c8c8;
}