body 
{
  margin: 35px;

  /* Makes the text color white. */
  color: white;
  /* Makes the page background black.*/
  background-color: black;

  /* Uses the browser's monospace font. */
  font-family: monospace;
  font-size: 22px;
  font-weight: 400;
}

/* Make the box to drag numbers into distict from the background and center its text. */ 
#drag-box 
{
  width: 465px;
  height: 100px;

  margin-bottom: 10px;

  background-color: #404040;

  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

/* Make the numbers a bit easier to click on. */
.number { padding: 5px; }

/* Make selected text the inverse of regular content. */
::selection{
  color: black;
  background-color: white;
}
/* Same as above, but for Firefox. */
::-moz-selection {
  color: black;
  background-color: white;
}
