body 
{
  margin: 35px;

  /* Makes the text color white. */
  color: white;
  /* Makes the page background black.*/
  background-color: black;

  /* Uses the browser's monospace font. */
  font-family: monospace;
  font-size: 22px;
  font-weight: 400;
}

/* Reduces the space from the top of the page to the header. */
h1 { margin-top: 0px; }

/* Reduces the space from the bottom of the paragraph header to its body. */
h4 { margin-bottom: 15px; }

/* Make each paragraph more intented and with smaller font size than the last. */
p
{
  margin-left: 30px;
  font-size: 90%;
}

a
{
  color: white;
}

/* Make selected text the inverse of regular content. */
::selection{
  color: black;
  background-color: white;
}
/* Same as above, but for Firefox. */
::-moz-selection {
  color: black;
  background-color: white;
}

.censor{
  background-color: #4f4f4f;
}
